@model IEnumerable<VetWeb.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaseDaVida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comorbidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parametros.FrequenciaCardiaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parametros.FrequenciaRespiratoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parametros.PressaoArterialSistemica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parametros.Hematocrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parametros.Leucocitos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaseDaVida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comorbidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parametros.FrequenciaCardiaca)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.Parametros.FrequenciaRespiratoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parametros.PressaoArterialSistemica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parametros.Hematocrito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parametros.Leucocitos)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
